In [2]:
#import libraries
import pandas as pd
import matplotlib.pyplot as plt

In [44]:
#Read and Wrangle data
def wrangle(filepath):

    #read excel into a dataframe
    df = pd.read_excel(filepath)
    #drop missing values
    df.dropna(inplace=True)
    #drop columns
    drop_cols = [
        'eventid', 'iyear', 'imonth', 'iday', 'country_txt', 'region_txt', 
        'provstate', 'city', 'latitude', 'longitude', 'attacktype1_txt', 
        'targtype1_txt', 'weaptype1_txt', 'gname', 'nwound'
    ]
    df.drop(columns=drop_cols, inplace=True)

    return df

In [45]:
df = wrangle("Nigeria_terrorist_data.xlsx")
print("Shape:", df.shape)
df.info()

Shape: (4220, 6)
<class 'pandas.core.frame.DataFrame'>
Index: 4220 entries, 0 to 5997
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   success      4220 non-null   int64
 1   suicide      4220 non-null   int64
 2   attacktype1  4220 non-null   int64
 3   targtype1    4220 non-null   int64
 4   weaptype1    4220 non-null   int64
 5   nkill        4220 non-null   float64
dtypes: float64(1), int64(5)
memory usage: 230.8 KB

In [46]:
df.head()

   success  suicide  attacktype1  targtype1  weaptype1  nkill
0        1        0            1          2          5    3.0
3        1        0            1          2         13    1.0
4        0        0            1          2          5    0.0
5        1        0            1          7          5    1.0
6        1        0            1          8          5    3.0

In [14]:
df.columns

Index(['eventid', 'iyear', 'imonth', 'iday', 'country_txt', 'region_txt',
       'provstate', 'city', 'latitude', 'longitude', 'success', 'suicide',
       'attacktype1', 'attacktype1_txt', 'targtype1', 'targtype1_txt', 'gname',
       'weaptype1', 'weaptype1_txt', 'nkill', 'nwound'],
      dtype='object')

In [19]:
for column in df.columns:
    if column.endswith("_txt"):
        df.dropna(inplace=True)

In [42]:
df = pd.read_excel("Nigeria_terrorist_data.xlsx")
df.head(2)

,eventid,iyear,imonth,iday,country_txt,region_txt,provstate,city,latitude,longitude,...,suicide,attacktype1,attacktype1_txt,targtype1,targtype1_txt,gname,weaptype1,weaptype1_txt,nkill,nwound
0,197602130003,1976,2,13,Nigeria,Sub-Saharan Africa,Lagos,Lagos,6.452331,3.419044,...,0,1,Assassination,2,Government (General),Coup plotters,5,Firearms,3.0,1.0
1,198001170007,1980,1,17,Nigeria,Sub-Saharan Africa,Kaduna,Kaduna,10.530204,7.437338,...,0,9,Unknown,7,Government (Diplomatic),Zimbabwe Patriotic Front,13,Unknown,NaN,NaN