In [1]:
#import libraries
import pandas as pd
import matplotlib.pyplot as plt

In [32]:
#Read and Wrangle data
def wrangle(filepath):

    #read excel into a dataframe
    df = pd.read_excel(filepath)
    #drop missing values
    df.dropna(inplace=True)

    return df

In [33]:
df = wrangle("Nigeria_terrorist_data.xlsx")
print("Shape:", df.shape)
df.info()

Shape: (4220, 21)
<class 'pandas.core.frame.DataFrame'>
Index: 4220 entries, 0 to 5997
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   eventid          4220 non-null   int64
 1   iyear            4220 non-null   int64
 2   imonth           4220 non-null   int64
 3   iday             4220 non-null   int64
 4   country_txt      4220 non-null   object
 5   region_txt       4220 non-null   object
 6   provstate        4220 non-null   object
 7   city             4220 non-null   object
 8   latitude         4220 non-null   float64
 9   longitude        4220 non-null   float64
 10  success          4220 non-null   int64
 11  suicide          4220 non-null   int64
 12  attacktype1      4220 non-null   int64
 13  attacktype1_txt  4220 non-null   object
 14  targtype1        4220 non-null   int64
 15  targtype1_txt    4220 non-null   object
 16  gname            4220 non-null   object
 17  weaptype1        4220 non-null   int64
 18  weaptype1_txt    4220 non-null   object
 19  nkill            4220 non-null   float64
 20  nwound           4220 non-null   float64
dtypes: float64(4), int64(9), object(8)
memory usage: 725.3+ KB

In [34]:
df.head()

,eventid,iyear,imonth,iday,country_txt,region_txt,provstate,city,latitude,longitude,...,suicide,attacktype1,attacktype1_txt,targtype1,targtype1_txt,gname,weaptype1,weaptype1_txt,nkill,nwound
0,197602130003,1976,2,13,Nigeria,Sub-Saharan Africa,Lagos,Lagos,6.452331,3.419044,...,0,1,Assassination,2,Government (General),Coup plotters,5,Firearms,3.0,1.0
3,198311270001,1983,11,27,Nigeria,Sub-Saharan Africa,Lagos,Lagos,6.618911,3.305532,...,0,1,Assassination,2,Government (General),Gang,13,Unknown,1.0,0.0
4,198311290002,1983,11,29,Nigeria,Sub-Saharan Africa,Lagos,Lagos,6.455641,3.429865,...,0,1,Assassination,2,Government (General),Unknown,5,Firearms,0.0,1.0
5,198801230002,1988,1,23,Nigeria,Sub-Saharan Africa,Lagos,Lagos,6.618911,3.305532,...,0,1,Assassination,7,Government (Diplomatic),Unknown,5,Firearms,1.0,0.0
6,198803130003,1988,3,13,Nigeria,Sub-Saharan Africa,Lagos,Lagos,6.618911,3.305532,...,0,1,Assassination,8,Educational Institution,Unknown,5,Firearms,3.0,0.0