In [1]:
#import libraries
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
#read xlsx file into a dataframe
filepath = "Nigeria_terrorist_data.xlsx"
df = pd.read_excel(filepath)

In [7]:
#print  dataframe
df.head(3)

,eventid,iyear,imonth,iday,country_txt,region_txt,provstate,city,latitude,longitude,...,suicide,attacktype1,attacktype1_txt,targtype1,targtype1_txt,gname,weaptype1,weaptype1_txt,nkill,nwound
0,197602130003,1976,2,13,Nigeria,Sub-Saharan Africa,Lagos,Lagos,6.452331,3.419044,...,0,1,Assassination,2,Government (General),Coup plotters,5,Firearms,3.0,1.0
1,198001170007,1980,1,17,Nigeria,Sub-Saharan Africa,Kaduna,Kaduna,10.530204,7.437338,...,0,9,Unknown,7,Government (Diplomatic),Zimbabwe Patriotic Front,13,Unknown,NaN,NaN
2,198311110001,1983,11,11,Nigeria,Sub-Saharan Africa,Unknown,Unknown,NaN,NaN,...,0,1,Assassination,2,Government (General),Unknown,13,Unknown,0.0,1.0

In [12]:
#check info
df.info()
print("The shape of the dataframe is :", df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5998 entries, 0 to 5997
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   eventid          5998 non-null   int64
 1   iyear            5998 non-null   int64
 2   imonth           5998 non-null   int64
 3   iday             5998 non-null   int64
 4   country_txt      5998 non-null   object
 5   region_txt       5998 non-null   object
 6   provstate        5998 non-null   object
 7   city             5998 non-null   object
 8   latitude         5950 non-null   float64
 9   longitude        5950 non-null   float64
 10  success          5998 non-null   int64
 11  suicide          5998 non-null   int64
 12  attacktype1      5998 non-null   int64
 13  attacktype1_txt  5998 non-null   object
 14  targtype1        5998 non-null   int64
 15  targtype1_txt    5998 non-null   object
 16  gname            5998 non-null   object
 17  weaptype1        5998 non-null   int64
 18  weaptype1_txt    5998 non-null   object
 19  nkill            5441 non-null   float64
 20  nwound           4301 non-null   float64
dtypes: float64(4), int64(9), object(8)
memory usage: 984.2+ KB
The shape of the dataframe is : (5998, 21)